<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <DefaultSearchPath>D:\MP1Images\</DefaultSearchPath>
  <DatabaseImagesPath>D:\MP1Images\</DatabaseImagesPath>
  <SimilarityThreshold>0.0</SimilarityThreshold>
  <RelevanceThreshold>0.05</RelevanceThreshold>
  <CenterAmount>0.5</CenterAmount>
  <EightConnected>false</EightConnected>
</Settings>